{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="{% url 'shop:home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>
</div>

<div class="contact">
    <div class="container">

        <h3>Who We Are</h3>
        <div class="contact-grids">
            <div class="row">
                <div class='col-md-12'>
                    <p>
                        SMILES Suits and Shoes Palace, also known as S3 Palace is a Male Clothing brand that deals on quality and affordable suits and Shoes.
                        At S3 Palace, customers satisfaction is our priority. We are bent on giving you the best suit and shoe for every occasion.
                    </p> <br>
                    
                </div>
            </div>

            <div class="address">
                <div class=" address-more">
                    <h2>Vision Statement <i class="glyphicon glyphicon-eye-open"></i></h2>
                    <div class="col-md-6 address-grid">
                        <hr>
                        <div class="">
                            <p>
                                To drive a new era of quality Suits and Shoes made with different attires and materials.
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class=" address-more">
                    <h2>Mission Statement <i class="glyphicon glyphicon-star-empty"></i></h2>
                    <hr>
                    <div class="col-md-6 address-grid">
                        <div class="">
                            <p>
                                At S3Palace, we believe that you are addressed by how you're dressed.
                                Hence, we strive to be one of the Nigeria's leading providers of quality and affordable suits and shoes for men.
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <hr><br><br>

        </div>

        {% comment %} FAQs {% endcomment %}
        <br><hr><br>
        <div class='row mt-10'>
            <h3 id="faq">Frequently Asked Questions</h3>
            <br>
            <p>Given below are frequently asked questions from some our customers. In the case that you have a question which 
              isn't covered here, please send us a message via our contact form or chat with us via whatsapp by clicking on the 
              whatsapp icon below. Thanks! 
            </p> <br>
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                  <div class="panel-heading"> <span data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="glyphicon glyphicon-tasks"></span>
                    <h4 class="panel-title" style="text-align:center">
                      <p> Can a suit be returned after purchase? </p>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">Yes! So long it is within the two days return time.</div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading"><span data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="glyphicon glyphicon-tasks"></span>
                    <h4 class="panel-title" style="text-align:center">
                      <p>In the case of a suit return, who will pay for the extra cost?</p>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">All cost will be taken care of by S3Palace if the mistake is ours otherwise, the 
                      customer will pay for the extra cost.</div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading"><span data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="glyphicon glyphicon-tasks"></span>
                    <h4 class="panel-title" style="text-align:center">
                      <p>How fast do you deliver goods aftre payment?</p>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">We deliver suits across the nation. It takes between 2 - 7 days for 
                      deliveries outside Abuja. However deliveries within Abuja take within 48 hours maximum.</div>
                  </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><span data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="glyphicon glyphicon-tasks"></span>
                      <h4 class="panel-title" style="text-align:center">
                        <p>How's the quality of your suits?</p>
                      </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                      <div class="panel-body">EXACTLY what you see is what you get. Your satisfaction is our pride.</div>
                    </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading"><span data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="glyphicon glyphicon-tasks"></span>
                  <h4 class="panel-title" style="text-align:center">
                    <p>Can I pay on delivery?</p>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">No, we don;t accept pyment on delivery. All payments are to be done online. 
                    You can be rest assured that your transactions are safe and secure.
                  </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>

<!--//about us end-->
{% endblock content %}