{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<!--//breadcrumb-->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
			<li><a href="{% url 'shop:home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">{{ suit.category }} Category</li>
			<li class="active">{{ suit.name }}</li>
		</ol>
	</div>
</div>
<!---->

<!--content-->
<div class="products">
	<div class="container">
		<h2>
			{% if category %}{{ category.name }} {% else %}Product Detail{% endif %}
		</h2>
        <hr>

        {% comment %} Start Row {% endcomment %}
        <div class='row'>
            <div class="col-md-9" style="border: 0px solid red;">
                <div class="content-top1">
                    {% comment %} Product Image {% endcomment %}
                    <div class="col-md-4 col-sm-12" style="width:50%; min-height:700px; border: 0px solid red;">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="{{ suit.image.url }}">
                                    <div class="thumb-image"> 
                                        <img style="height:600px; width:100%;" src="{{ suit.image.url }}" data-imagezoom="true" class="img-responsive"> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% comment %} Product forms {% endcomment %}
                    <div class="col-md-8 col-sm-12" style="min-height:700px; width:50%; border: 0px solid green;">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>{{ suit.name }}</h2>
                            <!-- <p> {{ suit.description|linebreaks }}</p>
 -->                            <div class="star-on">
                                <ul>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                </ul>
                                <div class="review">
                                    <a href="#"> x reviews </a>/
                                    <a href="#">Write a review</a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <label  class="add-to item_price">&#x20A6; {{ suit.price }}</label>
                            <br>
                            <div class="col-md-4 top-footer1 animated wow fadeInRight">
                               <form action="{% url "cart:cart_add" suit.id %}" method="post">
                                    {{ cart_product_form }} <br>
                                    {% csrf_token %} <br>
                                    <input class="item_add btn btn-outline-dark" style="width:100px;" type="submit" value="Add to cart">
                                </form>
                            </div> 
                            <br><br>
                            <div class="available"> 
                                <br><br><hr>
                                <h6 style="text-align:left; color:#e4e008e1;">More Info</h6>
                                <ul>	
                                    <li><b style="color:brown; font-weight: bold;">Size:</b> {{ suit.sizes }}</li> <br>
                                    <li><b style="color:brown; font-weight: bold;">Brand:</b> {{ suit.category }}</li> <br>
                                    <li><b style="color:brown; font-weight: bold;">Availability:</b> {% if suit.available %}In Stock{% else %}Out Of Stock{% endif %}</li> <br>
                                    <li><b style="color:brown; font-weight: bold;">Description:</b> {{ suit.description }}</li>			
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                
                </div>	
            </div> 
            <br>

            {% comment %} Part B {% endcomment %}
            <div class="col-md-3 col-sm-12 mt-10 animated wow fadeInLeft" data-wow-delay=".5s" style="border: 0px solid gold; text-align:center;">
                <!--categories-->
                    <div class="rsidebar span_1_of_left">
                        {% comment %} {% if category %}{{ category.name }}{% else %}Products{% endif %} {% endcomment %}
                            <h3 class="cate">Product Categories</h3>
                            <ul class="menu-drop">
                                <li class="item1"> {% if not category %} {% endif %}
                                    <a href="{% url "shop:home" %}">All Categories</a>
                                    <ul style="text-align:center;" class="cute">
                                        {% for c in categories %}
                                        <li class="subitem1 text-right" {% if category.slug == c.slug %} {% endif %}> 
                                            {% if c.name == 'China' %} 
                                                <a href="{{ c.get_absolute_url }}"> <img style="height:100px;" src="{% static 'images/chinasuit1.jpeg' %}" class="img-responsive" alt=""/>
                                                    {{ c.name }} 
                                            {% elif c.name == 'Italy' %}
                                                <a href="{{ c.get_absolute_url }}"> <img style="height:100px;" src="{% static 'images/italysuit1.jpeg' %}" class="img-responsive" alt=""/>
                                                    {{ c.name }}
                                            {% elif c.name == 'Turkey' %}
                                                    <a href="{{ c.get_absolute_url }}"> <img style="height:100px;" src="{% static 'images/turkeysuit1.jpeg' %}" class="img-responsive" alt=""/>
                                                        {{ c.name }}
                                            {% endif %}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                    </div>
                <!--initiate accordion-->
                        <script type="text/javascript">
                            $(function() {
                                var menu_ul = $('.menu-drop > li > ul'),
                                        menu_a  = $('.menu-drop > li > a');
                                menu_ul.hide();
                                menu_a.click(function(e) {
                                    e.preventDefault();
                                    if(!$(this).hasClass('active')) {
                                        menu_a.removeClass('active');
                                        menu_ul.filter(':visible').slideUp('normal');
                                        $(this).addClass('active').next().stop(true,true).slideDown('normal');
                                    } else {
                                        $(this).removeClass('active');
                                        $(this).next().stop(true,true).slideUp('normal');
                                    }
                                });
                            
                            });
                        </script>
                    <!--//menu-->

                    <hr>
                                <!--tags-->
                                <div class="tag">	
                                    <h3 class="cate">Tags</h3>
                                    <div class="tags text-right col-md-6 col-sm-12">
                                        <ul>
                                            <li style="width:115px; float:right;"><a href="#">turkish suits</a></li>
                                            <li style="width:115px; float:right;"><a href="#">italian suits</a></li>
                                            <li style="width:115px; float:right;"><a href="#">chinese suits</a></li>
                                            <li style="width:115px; float:right;"><a href="#">turkish shoes</a></li>
                                            <li style="width:115px; float:right;"><a href="#">italian shoes</a></li>
                                            <li style="width:115px; float:right;"><a href="#">chinese shoes</a></li>
                                            <div class="clearfix"> </div>
                                        </ul>
                                    </div>					
                                </div>
            </div>
        </div>
        <hr>
        {% comment %} End of Product Detail {% endcomment %}

        {% comment %} Review Section {% endcomment %}
        <div class="row">
            <div class="rsidebar span_1_of_left" style="border: 0px solid purple; height:500px; text-align:center;">
                <h2>Review Form Here</h2>
            </div>
        </div>
    </div>
</div>



{% endblock content  %}