{% extends 'shop/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!--//breadcrumb-->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
			<li><a href="{% url 'shop:home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">{{ suit.category }} Category</li>
			<li class="active">{{ suit.name }}</li>
		</ol>
	</div>
</div>
<!---->

<!--content-->
<div class="products">
	<div class="container">
		<h2>
			{% if category %}{{ category.name }} {% else %}Suit Detail{% endif %}
		</h2>
        <hr>

        {% comment %} Start Row {% endcomment %}
        <div class='row'>
            <div class="col-md-9" style="border: 0px solid red;">
                <div class="content-top1">
                    {% comment %} Product Image {% endcomment %}
                    <div class="col-md-4 col-sm-12" style="width:50%; min-height:700px; border: 0px solid red;">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="{{ suit.image.url }}">
                                    <div class="thumb-image"> 
                                        <img style="height:600px; width:100%;" src="{{ suit.image.url }}" data-imagezoom="true" class="img-responsive"> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% comment %} Product forms {% endcomment %}
                    <div class="col-md-8 col-sm-12" style="min-height:700px; width:50%; border: 0px solid green;">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>{{ suit.name }}</h2>   
                             <div class="star-on">
                                <ul>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                </ul>
                                {% with reviews.count as total_reviews %}
                
                                <div class="review">
                                    <a href="#" class="text-muted"> {{ total_reviews }} reviews </a>/
                                    <a href="#review">Write a review</a>
                                </div>
                                {% endwith %}

                                <div class="clearfix"> </div>
                            </div>
                            <label  class="add-to item_price">&#x20A6; {{ suit.price }}</label>
                            <br>
                            <div class="col-md-4 top-footer1 animated wow fadeInRight">
                               <form action="{% url "cart:cart_add" suit.id %}" method="post">
                                    	{% csrf_token %} <br>
				       {{ cart_product_form }} <br>
                                    
                                    <input class="item_add btn btn-outline-dark" style="width:100px;" type="submit" value="Add to cart">
                                </form>
                            </div> 
                            <br><br>
                            <div class="available"> 
                                <br><br><hr>
                                <h6 style="text-align:left; color:#e4e008e1;">More Info</h6>
                                <ul>	
                                    <li><b style="color:brown; font-weight: bold;">Size:</b> {{ suit.sizes }}</li> <br>
                                    <li><b style="color:brown; font-weight: bold;">Brand:</b> {{ suit.category }}</li> <br>
                                    <li><b style="color:brown; font-weight: bold;">Availability:</b> {% if suit.available %}In Stock{% else %}Out Of Stock{% endif %}</li> <br>
                                    <li><b style="color:brown; font-weight: bold;">Description:</b> {{ suit.description }}</li>			
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                
                </div>	
            </div> 
            <br>

            {% comment %} Part B {% endcomment %}
            <div class="col-md-3 col-sm-12 mt-10 animated wow fadeInLeft" data-wow-delay=".5s" style="border: 0px solid gold; text-align:center;">
                <!--categories-->
                    <div class="rsidebar span_1_of_left">
                        {% comment %} {% if category %}{{ category.name }}{% else %}Products{% endif %} {% endcomment %}
                            <h3 class="cate">Product Categories</h3>
                            <ul class="menu-drop">
                                <li class="item1"> {% if not category %} {% endif %}
                                    <a href="{% url "shop:home" %}">All Categories</a>
                                    <ul style="text-align:center;" class="cute">
                                        {% for c in categories %}
                                        <li class="subitem1 text-right" {% if category.slug == c.slug %} {% endif %}> 
                                            {% if c.name == 'China' %} 
                                                <a href="{{ c.get_absolute_url }}"> <img style="height:100px;" src="{% static 'images/chinasuit1.jpeg' %}" class="img-responsive" alt=""/>
                                                    {{ c.name }} 
                                            {% elif c.name == 'Italy' %}
                                                <a href="{{ c.get_absolute_url }}"> <img style="height:100px;" src="{% static 'images/italysuit1.jpeg' %}" class="img-responsive" alt=""/>
                                                    {{ c.name }}
                                            {% elif c.name == 'Turkey' %}
                                                    <a href="{{ c.get_absolute_url }}"> <img style="height:100px;" src="{% static 'images/turkeysuit1.jpeg' %}" class="img-responsive" alt=""/>
                                                        {{ c.name }}
                                            {% endif %}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                    </div>

                <!--initiate accordion-->
                        <script type="text/javascript">
                            $(function() {
                                var menu_ul = $('.menu-drop > li > ul'),
                                        menu_a  = $('.menu-drop > li > a');
                                menu_ul.hide();
                                menu_a.click(function(e) {
                                    e.preventDefault();
                                    if(!$(this).hasClass('active')) {
                                        menu_a.removeClass('active');
                                        menu_ul.filter(':visible').slideUp('normal');
                                        $(this).addClass('active').next().stop(true,true).slideDown('normal');
                                    } else {
                                        $(this).removeClass('active');
                                        $(this).next().stop(true,true).slideUp('normal');
                                    }
                                });
                            
                            });
                        </script>
                    <!--//menu-->
            </div>
        </div>
        <hr>
        {% comment %} End of Product Detail {% endcomment %}


        {% comment %} Review Section {% endcomment %}
        <h2>Suit Reviews</h2>
            
        <div id="review" class="row justify-content center">
            <div class="col-md-4 animated wow" style="border:1px dashed gold; min-height:500px;">
                {% for review in reviews %}
                    <div  style="background-color: whitesmoke;">
                        {{ review.body }}
                       <small class="text-muted">
                        <i>
                         Review made by: {{ review.name }} on {{ review.created | date:"M d, Y" }}
                        </i>
                        </small>
                       
                     </div>
                {% empty %}
                    <p>There are no reviews yet for this product!</p>
                    <hr> <br>
                {% endfor %}
            </div>
                            
            <!-- Comment Form -->
            <div class="col-md-8 animated wow" style="border:1px dashed gold; min-height:500px; margin: auto; text-align:center;">
                    {% if new_review %}       
                        <p>Thanks! Your review has been added.</p>
                    {% else %}
                        <h3>Write a new review</h3> <br>
                        <form method="post">
                           {{ review_form|crispy }}
                           {% csrf_token %}
                           <p><input class="item_add btn btn-outline-warning btn-block btn-sm m-1" type="submit" value="Submit Review"></p>
                        </form> 
                    {% endif %}
            </div>

        </div>


    </div>
</div>



{% endblock content  %}
